# Supabase Configuration
POSTGRES_URL=postgres://postgres.djlnjrrgejrgmguepjoh:0KDHSEqepYpnMfDf@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
POSTGRES_PRISMA_URL=postgres://postgres.djlnjrrgejrgmguepjoh:0KDHSEqepYpnMfDf@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true
SUPABASE_URL=https://djlnjrrgejrgmguepjoh.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://djlnjrrgejrgmguepjoh.supabase.co
POSTGRES_URL_NON_POOLING=postgres://postgres.djlnjrrgejrgmguepjoh:0KDHSEqepYpnMfDf@aws-0-sa-east-1.pooler.supabase.com:5432/postgres?sslmode=require
SUPABASE_JWT_SECRET=KmnDpr779ZJpqbAAss5nnZ4l4+CsyhelBHQMBajYQnwkj6oT9djOwQmt9kg58g81X5rtfUw6r+g1kdeMBP8D4g==
POSTGRES_USER=postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqbG5qcnJnZWpyZ21ndWVwam9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMyNjE2MzYsImV4cCI6MjA2ODgzNzYzNn0.7N_nP26Z_efJpwH1bS-JGQkWNmpY0dM91jVolhjbo98
POSTGRES_PASSWORD=0KDHSEqepYpnMfDf
POSTGRES_DATABASE=postgres
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqbG5qcnJnZWpyZ21ndWVwam9oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzI2MTYzNiwiZXhwIjoyMDY4ODM3NjM2fQ.Mq6qqVuqXCMcL8dG4lE1bn6Of_O3MWCdJHz3uNBOTGk
POSTGRES_HOST=db.djlnjrrgejrgmguepjoh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqbG5qcnJnZWpyZ21ndWVwam9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMyNjE2MzYsImV4cCI6MjA2ODgzNzYzNn0.7N_nP26Z_efJpwH1bS-JGQkWNmpY0dM91jVolhjbo98 